.sqlexplorer .v-tree-node-selected::after {
	border-radius: 0px;
}

.sqlexplorer .v-tree-node-caption-bold {
	font-weight: bold;
}

.sqlexplorer .v-tabsheet-deco {
    visibility: hidden;
}

.sqlexplorer .v-menubar-menuitem-green {
	color: #A8CD1B;
}

.sqlexplorer .v-menubar-menuitem-red {
    color: #800000;
}