.sqlexplorer .v-tree-node-selected::after {
	border-radius: 0px;
}

.sqlexplorer .v-tree-node-caption-bold {
	font-weight: bold;
}

.sqlexplorer .v-tabsheet-deco {
    visibility: hidden;
}

.sqlexplorer .v-menubar-borderless .v-menubar-menuitem.v-menubar-menuitem-green {
	color: #76aa2e;
}

.sqlexplorer .v-menubar-borderless .v-menubar-menuitem.v-menubar-menuitem-red {
    color: #E84855;
}